//FIX COMPOSER MARGIN BOTTOM
.wpb_content_element{
  margin-bottom: 0!important;
}
//FORMULARIOS MAILCHIMP
form.flex{
  display: flex !important;
  input,button{
    border-radius: 0 !important;
  }
  label{
    padding-right: 0 !important;
  }
}
//QUITAR EL FONDO OSCURO SUBHEADER
.subtitle-cover.sub-title:after{
  background: none !important;
}