#searchform{
  background-color: $gris;
  input{
    &::placeholder{
      color: $azul;
      font-family: gotham-bold;
    }
  }
}
#sidebar{
  font-family: gotham-bold;
  h3{
    &.widget_title{
      background-color: $azul;
      color: white;
      padding: 15px;
      margin: 0;
      text-align: center;
    }
  }
  .widget{
    margin-bottom: 10px;
    background-color: $gris;
    > ul{
      padding: 0 10px 1px;
    }
    ul{
      li{
        padding: 0;
        margin: 10px 0 10px 0;
      }
    }
  }
  .widget_categories{
    ul{
      text-align: center;
      li{
        a{
          font-size: 23px;
          color: $azul;
        }
      }
    }
  }
}
//SUBHEADER CON LAS CATEGORIAS EN LOS BLOG
.subtitle-cover{
  margin-bottom: 0 !important;
}
.category-sub-header{
  margin-bottom: 100px;
  height:100%;
  a{
    @include cat_sub_list();
    &.active{
      border-width: 2px !important;
      font-family: gotham-bold;
    }
    &:hover{
      background-color: transparentize($gris,0.5);
    }
  }
}
