@mixin cat_sub_list(){
  padding: 15px 80px;
  border-right: 2px solid rgba(128, 128, 128, 0.4) !important;
  border-left: 2px solid rgba(128, 128, 128, 0.4) !important;
  margin-right: -2px;
  color: grey;
  font-family: gotham-book;
  border-radius: 0;
  font-size: 20px;
}