//LOGO
.deli-logo{
  position: absolute;
  width: 150px;
  left: -1px;
  z-index: 1;
}
.no-padding-y{
   padding-bottom: 0 !important;
  padding-top: 0 !important;
 }
.no-padding-x{
  padding: 10px 0;
}
//CLASES CON FUENTES
.gotham-book{
  font-family: gotham-book;
}
.gotham-bold{
  font-family: gotham-bold;
}
.gotham-medium{
  font-family: gotham-medium;
}
.white-text{
  color: white;
}
.white-bg{
  background-color: white;
}
.text-left{
  text-align: left !important;
}
.blue-text{
  color: $azul !important;
}
.dark-grey-text{
  color: $gris-oscuro;
}
//FIX POST DEL BLOG LIST
#main-blog-list{
  .vc_grid-filter{
    & > .vc_grid-filter-item{
      border: none;
      padding: 10px 80px;
      border-right: 2px solid rgba(128, 128, 128, 0.4) !important;
      border-left: 2px solid rgba(128, 128, 128, 0.4) !important;
    }
  }
  .deli-blog-list{
    line-height: 0;
    .deli-blog-categoria{
      margin-top: 10px;
      .vc_grid-filter-item{
        &:hover{
          background-color: transparent !important;
          span{
            color: white !important;
          }
        }
      }
    }
    .deli-blog-detalles{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:2vmin;
      .gotham-bold{
        a{
          font-family: gotham-bold;
        }
      }
    }
  }
}
.nav-post{
  display: flex;
  justify-content: center;
  border-bottom: none;
  flex-wrap: wrap;
  li{
    &.active{
      a{
        font-family: gotham-bold;
        color: $azul !important;
        border-bottom-width: 3px !important;
      }
    }
    a{
     @include cat_sub_list();
    }
  }
}
.list_post{
  font-size: 20px;
  margin: 10rem 0 !important;
  .img-post{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 30vmin;
  }
  .contenido{
    background: $azul;
    padding: 10px;
    i{
      font-size: 40px;
      margin-top: -17px;
    }
    .detalles{
      display: flex;
      justify-content: space-between;
    }
  }
}
//SISTEMA DE MÁRGENES
@for $i from 10 through 60 {
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
}
@for $i from 10 through 60 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
}
@for $i from 10 through 60 {
  .pl-#{$i} {
    padding-left: #{$i}px !important;
  }
}
@for $i from 5 through 20 {
  .mx-#{$i} {
    margin-right: #{$i}px !important;
    margin-left: #{$i}px !important;
  }
}
@for $i from 10 through 60 {
  .my-#{$i} {
    margin-bottom: #{$i}px !important;
    margin-top: #{$i}px !important;
  }
}
//TAMAÑOS DE FUENTES PERSONALIZADAS
@for $i from 10 through 60 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}
// ANCHOS PERSONALIZADOS
@for $i from 10 through 60 {
  .width-#{$i} {
    width: #{$i}rem !important;
  }
}
//LINE HEIGHT PERSONALIZADOS
@for $i from 10 through 60 {
  .line-#{$i} {
    line-height: #{$i}px !important;
  }
}
//FONT PERSONALIZADO
@for $i from 10 through 60 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}
//SISTEMA FLEX
.flex{
  display: flex;
  &.jc{
    &-center{
      justify-content: center;
    }
  }
  &.ai{
    &-center{
      align-items: center;
    }
  }
  &.fd{
    &-column{
      flex-direction: column;
    }
  }
  &.fw{
    &-wrap{
      flex-wrap: wrap;
    }
  }
  .as{
    &-start{
      align-self: flex-start;
    }
    &-end{
      align-self: flex-end;
    }
  }
}
//BOTONES
.deli-btn-mail{
  background: white;
  color: blue !important;
  border-radius: 0;
}
//cargador
.loading{
  position: fixed;
  z-index: 99999;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: white;
  img{
    width: 5%;
    min-width: 100px;
  }
}