$url: "http://10.72.13.81/delisoya/wp-content/themes/starter-child/";
//COLORES
$azul: #08255A;
$celeste: #9ECEE8;
$gris: #EFEFEF;
$gris-oscuro: #666666;

//FUENTES
@font-face {
  font-family: gotham-book;
  src: url($url + 'fonts/gotham-book.otf');
}
@font-face {
  font-family: gotham-bold;
  src: url($url + 'fonts/gotham-bold.otf');
}
@font-face {
  font-family: gotham-medium;
  src: url($url + 'fonts/gotham-medium.otf');
}