@import "variables";
@import "mixin";
@import "utils";
@import "custom";
@import "fix";

//CONFIGURACIONES GLOBALES
  //fuente del menu
#main-menu{
  li{
    a{
      font-family: gotham-bold;
      color: $azul;
    }
    &.current{
      a{
        color: $celeste;
      }
    }
  }
}
//QUITAR BOLD DE WIDGETS
.widget{
  ul{
    li{
      a{
        font-weight: normal;
      }
    }
  }
}